{% extends './base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet', href="{% static 'AddedCSS/quotes/quote.css' %}", type='text/css', media='all'>
        <link rel="stylesheet", href="{% static 'AddedCSS/quotes/print.css' %}", type="text/css", media="print">
    </head>
    <boby id="qd_body">
        <header>
            <!-- あとで実装-->
        </header>

        <div id="page1" class="page_base page_base_1">
            <div id="title">
                <div id="title-left">
                    <div id="address_position">
                        <table id="table_address" class="qd_table">
                            {% for a in address %}
                                <tr><td class="td-left-top">
                                    {{ a }}
                                </td></tr>
                            {% endfor %}

                </table>
                    </div>
                    <div id="title_main">御　見　積　書　(概 算)</div>
                </div>
                <!-- ./title-left -->
                
                <div id="title-rigth">
                    <div id="title-right-row1">
                        <table id="table-right-top" class="qd_table"> 
                            <tr>
                                <td class="td-right-top td-right-top-width">発行日</td>
                                <td class="td-right-top">{{ issued_date }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top td-right-top-width">見積書No.</td>
                                <td class="td-right-top">{{ quote_no }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- ./title-right-row1 -->

                    <div id="title-right-row2">
                        <img src="{% static 'quotes/logo.png' %}" id="logo">
                        <table id="table-right-top" class="qd_table"> 
                            <tr>
                                <td class="td-right-top" colspan="2">{{ section_1 }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top" colspan="2">{{ section_2 }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top td-right-top-width">担当者：</td>
                                <td class="td-right-top">{{ pic }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top td-right-top-width">TEL：</td>
                                <td class="td-right-top">{{ tel_no }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top td-right-top-width">FAX：</td>
                                <td class="td-right-top">{{ fax_no }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- ./title-right-row2 -->
                </div>
                <!-- ./title-right -->
            </div>
            <!-- title-->

            <div id="g-total">
                <p class="qd_p font-size-12px">下記の通り御見積申し上げますので、何卒御下命の程、お願い申し上げます。</p>
                <table id="table-gtotal">
                    <tr id="tr-gtotal">
                        <td id="td-gtotal-left">御見積金額(税抜)</td>
                        <td id="td-gtotal-right">￥{{ gtotal }}</td>
                    </tr>
               </table>

            </div>
            <!-- ./g-total-->

            <div id="conditions">
                <table class="table_condition qd_table">
                    <tr class="tr_condition-1">
                        <td class="td_condition-1_head">見積輸送区分</td>
                        <td class="td_condition-1_item1">{{ class1 }}</td>
                        <td class="td_condition-1_head">見積金額区分</td>
                        <td class="td_condition-1_item2">{{ class2 }}</td>
                    </tr>
                    <tr class="tr_condition-1">
                        <td class="td_condition-1_head">案件名</td>
                        <td class="td_condition-1_item1">{{ project_name }}</td>
                        <td class="td_condition-1_head">品　名</td>
                        <td class="td_condition-1_item2">{{ item }}</td>
                    </tr>
                    <tr class="tr_condition-1">
                        <td class="td_condition-1_head">積地／引受地</td>
                        <td class="td_condition-1_item1">{{ from }}</td>
                        <td class="td_condition-1_head">納入地</td>
                        <td class="td_condition-1_item2">{{ to }}</td>
                    </tr>
                    <tr class="tr_condition-1">
                        <td class="td_condition-1_head">積　港</td>
                        <td class="td_condition-1_item1">{{ POL }}</td>
                        <td class="td_condition-1_head">揚　港</td>
                        <td class="td_condition-1_item2">{{ POD }}</td>
                    </tr>
                    <tr class="tr_condition-1">
                        <td class="td_condition-1_head">案件実施時期</td>
                        <td class="td_condition-1_item1">{{ execute_from }} ～ {{ execute_upto }}</td>
                        <td class="td_condition-1_head">見積有効期限</td>
                        <td class="td_condition-1_item2">{{ validity }} 迄</td>
                    </tr>

                </table>

                <h2 class="qd_h2">前提数量</h2>

                <table class="table_condition qd_table">
                    <tr class="tr_condition-2">
                        <td class="td_condition-2_head">TOTAL NO. OF PACKAGE</td>
                        <td class="td_condition-2_item1">{{ packages }}</td>
                        <td class="td_condition-2_item1_unit">P'KGS</td>
                        <td class="td_condition-2_head2">MAX LENGTH</td>
                        <td class="td_condition-2_item2">{{ max_l }}</td>
                        <td class="td_condition-2_item2_unit">CM</td>
                    </tr>
                    <tr class="tr_condition-2">
                        <td class="td_condition-2_head">TOTAL GROSS WEIGHT</td>
                        <td class="td_condition-2_item1">{{ t_gw }}</td>
                        <td class="td_condition-2_item1_unit">KGS</td>
                        <td class="td_condition-2_head2">MAX WIDTH</td>
                        <td class="td_condition-2_item2">{{ max_w }}</td>
                        <td class="td_condition-2_item2_unit">CM</td>
                    </tr>
                    <tr class="tr_condition-2">
                        <td class="td_condition-2_head">TOTAL MEASURMENT</td>
                        <td class="td_condition-2_item1">{{ t_mm }}</td>
                        <td class="td_condition-2_item1_unit">M3</td>
                        <td class="td_condition-2_head2">MAX HEIGHT</td>
                        <td class="td_condition-2_item2">{{ max_h }}</td>
                        <td class="td_condition-2_item2_unit">CM</td>
                    </tr>
                    <tr class="tr_condition-2">
                        <td class="td_condition-2_head">TOTAL FREIGHT TON</td>
                        <td class="td_condition-2_item1">{{ t_ft }}</td>
                        <td class="td_condition-2_item1_unit">F/T</td>
                        <td class="td_condition-2_head2">MAX WEIGHT</td>
                        <td class="td_condition-2_item2">{{ max_wt }}</td>
                        <td class="td_condition-2_item2_unit">KGS</td>
                    </tr>
                    <tr class="tr_condition-2">
                        <td class="td_condition-2_head">TOTAL REVENUE TON</td>
                        <td class="td_condition-2_item1">{{ t_rt }}</td>
                        <td class="td_condition-2_item1_unit">R/T</td>
                        <td class="td_condition-2_head2">CHG WEIGHT</td>
                        <td class="td_condition-2_item2">{{ cwt }}</td>
                        <td class="td_condition-2_item2_unit">KGS</td>
                    </tr>
                </table>

                <h2 class="qd_h2">見積作業範囲</h2>
                <table class="table_condition qd_table">
                    {% for b in scope %}
                        <tr class="tr_condition-3">
                            <td class="td_condition-3">
                                {{ b }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <!-- ./conditions-->
            <div id="details_1" class="mt_248">
                <div id="quote_detail_list">
                    {% if dt_list_1 %}
                    <table id="qoute_detail" class="qd_table">
                        <tr class="dt_row_head">
                            <th class="dt_col1 dt_center">作業名</th>
                            <th class="dt_col2 dt_center">数量</th>
                            <th class="dt_col3 dt_center">単位</th>
                            <th class="dt_col4 dt_center">通貨</th>
                            <th class="dt_col5 dt_center">単価</th>
                            <th class="dt_col6 dt_center">金額</th>
                            <th class="dt_col7 dt_center">Ex.Rate</th>
                            <th class="dt_col8 dt_center">金額（￥）</th>
                            <th class="dt_col9 dt_center">課税</th>
                        </tr>
                        {% for i in dt_list_1 %}
                        <tr class="dt_row_item">
                            <td class="dt_col1 dt_left dt_padding_left_5">{{ i.works }}</td>
                            <td class="dt_col2 dt_center">{{ i.volume }}</td>
                            <td class="dt_col3 dt_center">{{ i.unit_v }}</td>
                            <td class="dt_col4 dt_center">{{ i.currency }}</td>
                            <td class="dt_col5 dt_right dt_padding_right_5">{{ i.unit_p }}</td>
                            <td class="dt_col6 dt_right dt_padding_right_5">{{ i.amount }}</td>
                            <td class="dt_col7 dt_center">{{ i.ex_rate }}</td>
                            <td class="dt_col8 dt_right dt_padding_right_5">{{ i.amount_j }}</td>
                            <td class="dt_col9 dt_center">{{ i.tax }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                <!-- ./quote_detail_list-->
            </div>
            <!-- ./details-->

            <div id="total_1" class="total_base mt_248">
                {% if grand_total_1 %}
                <table id="table_total" class="qd_table">
                    <tr class="tr_total">
                        <td class="td_total_col1">免税等金額計</td>
                        <td class="td_total_col2">{{ duty_free_total }}</td>
                    </tr>
                    <tr class="tr_total td_border_bottom_double">
                        <td class="td_total_col1">課税金額計</td>
                        <td class="td_total_col2">{{ tax_total }}</td>
                    </tr>
                    <tr class="tr_total">
                        <td class="td_total_col1">合　計(税　抜)</td>
                        <td class="td_total_col2">{{ gtotal }}</td>
                    </tr>
                </table>
                {% endif %}
            </div>
            <!-- ./total 1-->


            <div id="remaks_1" class="remarks mt_248">
                <h2 class="qd_h2">付帯事項</h2>
                <table class="remarks_table qd_table">
                    {% for c in remark_1 %}
                        <tr class="tr_remarks"><td class="td_remarks">{{ c }}</td></tr>
                    {% endfor %}
                </table>
            </div>
            <!-- option-->
        </div>
        <!-- ./Page.1 -->

        <!-- Page.2 -->
        <div id="page2" class="page_base page_base_n">
            <div id="title">
                <div id="title-left">
                </div>
                <!-- ./title-left -->
                
                <div id="title-rigth">
                    <div id="title-right-row1">
                        <table id="table-right-top" class="qd_table"> 
                            <tr>
                                <td class="td-right-top td-right-top-width">発行日</td>
                                <td class="td-right-top">{{ issued_date }}</td>
                            </tr>
                            <tr>
                                <td class="td-right-top td-right-top-width">見積書No.</td>
                                <td class="td-right-top">{{ quote_no }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- ./title-right-row1 -->
                </div>
                <!-- ./title-right -->
            </div>
            <!-- title-->

            <div id="details_2" class="mt_248">
                <div id="quote_detail_list">
                    {% if dt_list_2 %}
                    <table id="qoute_detail" class="qd_table">
                        <tr class="dt_row_head">
                            <th class="dt_col1 dt_center">作業名</th>
                            <th class="dt_col2 dt_center">数量</th>
                            <th class="dt_col3 dt_center">単位</th>
                            <th class="dt_col4 dt_center">通貨</th>
                            <th class="dt_col5 dt_center">単価</th>
                            <th class="dt_col6 dt_center">金額</th>
                            <th class="dt_col7 dt_center">Ex.Rate</th>
                            <th class="dt_col8 dt_center">金額（￥）</th>
                            <th class="dt_col9 dt_center">課税</th>
                        </tr>
                        {% for i in dt_list_2 %}
                        <tr class="dt_row_item">
                            <td class="dt_col1 dt_left dt_padding_left_5">{{ i.works }}</td>
                            <td class="dt_col2 dt_center">{{ i.volume }}</td>
                            <td class="dt_col3 dt_center">{{ i.unit_v }}</td>
                            <td class="dt_col4 dt_center">{{ i.currency }}</td>
                            <td class="dt_col5 dt_right dt_padding_right_5">{{ i.unit_p }}</td>
                            <td class="dt_col6 dt_right dt_padding_right_5">{{ i.amount }}</td>
                            <td class="dt_col7 dt_center">{{ i.ex_rate }}</td>
                            <td class="dt_col8 dt_right dt_padding_right_5">{{ i.amount_j }}</td>
                            <td class="dt_col9 dt_center">{{ i.tax }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>

                <!-- total Page 2 -->
                <div id="total_2" class="total_base mt_248">
                    {% if grand_total_2 %}
                    <table id="table_total" class="qd_table">
                        <tr class="tr_total">
                            <td class="td_total_col1">免税等金額計</td>
                            <td class="td_total_col2">{{ duty_free_total }}</td>
                        </tr>
                        <tr class="tr_total td_border_bottom_double">
                            <td class="td_total_col1">課税金額計</td>
                            <td class="td_total_col2">{{ tax_total }}</td>
                        </tr>
                        <tr class="tr_total">
                            <td class="td_total_col1">合　計(税　抜)</td>
                            <td class="td_total_col2">{{ gtotal }}</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                <!-- ./total page 2 -->

                <!-- Remarks Page 2 -->
                <div id="remaks_2" class="remarks mt_248">
                    <h2 class="qd_h2">付帯事項</h2>
                    <table class="remarks_table qd_table">
                        {% for c in remark_2 %}
                            <tr class="tr_remarks"><td class="td_remarks">{{ c }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- ./Remarks Page 2 -->
        </div>

    </boby>
</html>

{% endblock content %}