{% extends './base.html' %}
{% load static %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <!-- Widgets -->
        <div class="block-header">
            <h2>Home</h2>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="home_frame">
                        <div class="home_left">
                            <img src="{% static 'icons/icon_mono/quote.png' %}" class="user_added_iconsize">
                        </div>
                        <div class="header home_right">
                            <h2>
                                見積書 <small>Quotations</small>
                            </h2>
                        </div>
                    </div>
                    <div class="body">
                        <button type="button" class="btn btn-block btn-lg btn-info waves-effect home_btn_textleft" onclick="location.href='{% url 'quotes:quotelists' %}'">TOP</button>
                        <button type="button" class="btn btn-block btn-lg btn-info waves-effect home_btn_textleft" onclick="location.href='{% url 'quotes:quotelists' %}'">新規作成</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Widgets -->
    </div>
</section>

{% endblock content %}