.user_added_iconsize {
  padding-top : 10px;
  padding-left : 10px;
  height : 60px;
 }

/* Home */

.home_frame {
  width: 100%;
}

.home_left {
  width:  60px;
  margin-right : 10px;
  float: left;
}

.home_right {
  width : 100%;
}

.home_btn_textleft {
  text-align: left;
}
